<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-nxudkqVlgz8Eyv1+llBf8CVvnRLYOzIhizcIGlOZiKE=" crossorigin="anonymous"></script>
</head>