body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-right: 5%;
}
.navbar-collapse {
  align-items: center;
  height: 60px;
}
.container-fluid {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  padding: 0;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
.nav-link {
  height: 100%;
  align-items: center;
}
.nav-item {
  height: 100%;
  border-left: 2px solid white;
}
.nav-item:last-child {
  border-right: 2px solid white;
}
.title {
  margin-top: 5%;
}
.page-title {
  margin-left: 3rem;
}
.table-main {
  width: 65%;
  text-align: center;
  margin-left: 20%;
  border-spacing: 10px;
  margin-bottom: 5%;
}
th:hover td:hover {
  background-color: black;
  color: white;
}
.table-cell {
  border: 2px solid black;
  padding: 8px;
}
.table-cell:hover {
  background-color: black;
  color: white;
}
.table-cell:first-child {
  font-weight: bold;
}
.table-delete {
  padding: 2%;
  width: 20%;
}
.button-delete {
  font-weight: bold;
  margin: 0;
  background-color: red;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
}
.button-delete:hover {
  background-color: black;
  color: white;
}
.form {
  margin-top: 3%;
  margin-left: 40%;
  width: 300px;
  border: 2px solid black;
  padding: 0 3%;
}
label, input {
  display: block;
  margin-top: 20px;
  align-items: center;
}
.button-update {
  font-weight: bold;
  margin: 0;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
}
.button-update:hover {
  background-color: black;
  color: white;
}

